@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

body {
  background: hsl(185, 41%, 84%);
}

.App {
  /* height: 100vh; */  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  height: 50px;
  margin-top: 2.5rem;
  margin-bottom: 50px;
}

.container {
  width: 75%;
  /* height: 450px; */
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 2rem;
  background: hsl(0, 0%, 100%);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: hsl(186, 14%, 43%);
  width: 50%;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(112px , 1fr));
  grid-gap: 12px;
}

.button {
  width: 100%;
  font-size: 1.2rem;
  color: #fff;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  background: hsl(183, 100%, 15%);
  /* margin: 1em; */
}

#custom {
  background: #fff;
  text-align: center;
}

#custom:focus {
  outline: 2px solid hsl(172, 67%, 45%);
}

::placeholder {
  color: hsl(186, 14%, 43%);
}

.results {
  display: flex;
  padding: 2.5rem 5rem;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100%;
  border-radius: 20px;
  background: hsl(183, 100%, 15%);
}